body {
    text-align: center;
    background: rgb(31, 109, 255);
    color: white;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form {
    display: inline-block;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  textarea{
    background-color: #3CBC8D;
    color: white;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input[type=datetime-local] {
    background-color: #3CBC8D;
    color: white;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input[type=button], input[type=submit]{
    background-color: #3CBC8D;
    color:black;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }